<h1> Users </h1>

<ul>
  <%for index in @users do %>
    <li>
      <a href ="<%= link_to index.username, index %>">
        <%=  index.username %>
      </a>
    </li>
  <% end %>
</ul>
<%= link_to "New User", new_user_path %>
